.dvLeft {
    border-left: 10px solid red;
    border-bottom: 10px solid transparent;
    border-top: 10px solid transparent;
    transform: translate(0%,-50%);
}

.dvRight {
    border-right: 10px solid red;
    border-bottom: 10px solid transparent;
    border-top: 10px solid transparent;
    transform: translate(-100%,-50%);
}

.dvTop {
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-top: 10px solid red;
    transform: translate(-50%,0%);
}

.dvBottom {
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 10px solid red;
    transform: translate(-50%,-100%);
}

.golgeHor, .golgeVer {
    background-color: transparent;
    transform: translate(-50%,-50%);
}

.digit {
    position: relative;
    background-color: #500000;
    z-index:-5;
    border:solid 1px black;
    float:left;
}

.digit div{
    position: absolute;
}

.digit > div{
    background-color: transparent;
}

.digit > div > div{
    top: 50%;
    left: 50%;
}

.panel{
    position:relative;
    display:inline-flex;
    border:solid 5px gray;
    background-color:black;
    border-radius:10px;
    padding: 3px;
    z-index:5;
    margin:5px;
    margin-bottom:0;
    margin-top:0;
}

.digit > div:nth-child(2){
    left:100%;
    transform:translateX(-100%)
}
.digit > div:nth-child(3){
    left:100%;
    top:100%;
    transform:translate(-100%,-100%)
}
.digit > div:nth-child(4), .digit > div:nth-child(5){
    top:100%;
    transform:translateY(-100%)
}

.digit > div:nth-child(7){
    top:50%;
    transform:translateY(-50%)
}